body {
    background-color: #dedbd2;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

header{
    text-align: center;
}

nav p {
    text-align: center;
}

h1 {
    color: #669bbc;
    text-decoration: underline;
    margin-bottom: 10px;
}

header figure {
    margin: 0 auto;
}

h2 {
    color: #023e8a;
    padding-top: 30px;
    text-align: center;
}

p {
    width: 800px;
    text-align: justify;
    margin: 0 auto 20px;
}

figure {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

table {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #00b4d8;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #03045e;
    padding: 3px 8px;
    text-align: left;
}

th {
    background-color: #778da9;
}