body {
  background-color: black;
  color: chartreuse;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-family: "Copperplate Gothic Light", fantasy;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: monospace;
}

a {
  color: #23b5d3;
  text-decoration: unset;
}

figure img {
  height: 550px;
}

figcaption {
  font-size: large;
}
